#file-upload {
  display: none;
}

.file-upload {
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  background-color: #99c793;
  cursor: pointer;
}

.file-upload:hover {
  background-color: #497f42;
}

.appbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0px 20px;
  height: 3rem;
  background-color: rgb(235, 235, 235);
}
