#file-upload {
  display: none;
}

.close-file {
  padding: 6px 12px;
  color: #fff;
  background-color: #6bc55f;
}

.close-file__button {
  margin-right: 12px;
  border-radius: 9999px;
  border: 2px solid #6bc55f;
  color: #6bc55f;
  background-color: #fff;
}

.close-file__button:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #6bc55f;
}

.file-upload {
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  background-color: #6bc55f;
  cursor: pointer;
}

.file-upload:hover {
  background-color: #497f42;
}

.appbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0px 20px;
  height: 3rem;
  background-color: rgb(235, 235, 235);
}
